
h1, h2 {
    margin: 20px;
    color: #366d9f;
}

form {
    margin-left: 20px;
    margin-bottom: 20px;
}

label {
	margin-top: 20px;
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

input, select {
    padding: 5px;
    width: 300px;
}

button {
    padding: 5px 10px;
    background-color: #0080ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0000ff;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    font-size: 15px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}

.view-vaccination {
	background-color: #ffff80!important;
	padding: 5px 10px;
	color: black!important;
	border-radius: 5px;
	border: 1px solid black;
}

a {
	text-decoration: none;
}

.view-vaccination:hover {
	background-color: #ffff00;
}

.callback {
	color: blue;
	text-align: center;
	margin-top: 20px;
}