.container {
    width: 60%;
    max-width: none;;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea {
    height: 120px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #e0a800;
}

div[style="color: red;"] {
    color: red;
    font-weight: bold;
    text-align: center;
}

.a-edit {
	text-align: center;
	margin-top: 10px;
	color: red;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    input, select, textarea, button {
        font-size: 14px;
    }
}
