html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    flex: 1; /* Đẩy footer xuống cuối nếu nội dung ngắn */
}

footer {
    background-color: #00CCFF;
    color: black;
    text-align: center;
    padding: 22px;
    width: 100%;
    margin-top: auto; /* Đảm bảo footer nằm ở cuối */
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: red;
    text-decoration: none;
    font-size: 17.5px;
}
