.container {
    padding-left: 20px; 
    padding-right: 20px; 
}

h2 {
    margin-top: 20px; 
    margin-bottom: 20px;
}

.btn.btn-primary {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px; 
    margin-top: 20px; 
}

.btn.btn-primary:hover {
    background-color: #218838;
}

input[type="text"] {
    margin-top: 20px;
    padding: 8px;
    font-size: 14px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px!important;
    height: 36px;
}

button[type="submit"]:hover {
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

form button[type="submit"], .btn-warning, .btn-danger {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
}

.btn-warning:hover {
    background-color: #e0a800;
}

/* Danger button style (Delete) */
.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    table th, table td {
        padding: 6px; 
    }

    .btn.btn-primary, .btn-warning, .btn-danger {
        font-size: 14px;
    }
}
