<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="/css/introduce.css" />
    
</head>
<body>
    <div th:replace="~{header}"></div>
    
    <section>
        <div class="home">
            <h2>HỆ THỐNG HÀNG TRĂM TRUNG TÂM TIÊM CHỦNG VNVC</h2>
        </div>
        <div class="container">
            <div class="image">
                <img src="/img/hinhanh_tinhthanh.jpg" alt="Hệ thống VNVC tại các tỉnh thành">
            </div>
            <div class="content">
                <p><strong>An toàn, uy tín, chất lượng được hàng chục triệu gia đình tin tưởng lựa chọn!</strong></p>
                <p>Là đơn vị dẫn đầu ngành tiêm chủng vắc xin dịch vụ tại Việt Nam, trong gần 1 thập kỷ hình thành và phát triển, Hệ thống tiêm chủng VNVC đã nỗ lực không ngừng nghỉ và đạt nhiều thành tích nổi bật trong hoạt động tiêm chủng vắc xin, phòng chống dịch bệnh, nhận được sự tin tưởng yêu mến sử dụng dịch vụ của hàng chục triệu người dân trên khắp cả nước.</p>
                <p>VNVC nhiều năm liền được vinh danh ở vị trí số 1 trong top 10 công ty Dược Việt Nam uy tín trong nhiều năm liền (năm 2023, 2024), nhóm ngành phân phối, kinh doanh Dược phẩm, trang thiết bị y tế và vinh dự được đón nhận Bằng khen của Thủ tướng Chính phủ vì những đóng góp xuất sắc trong công tác phòng chống dịch bệnh.</p>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <p>Sau gần 10 năm đồng hành cùng hệ thống y học dự phòng nước nhà vượt mọi khó khăn, thần tốc đẩy mạnh phát triển hệ thống đến mọi miền đất nước, đặc biệt là các địa phương vùng sâu vùng xa, gia tăng cơ hội tiếp cận và tỷ lệ tiêm chủng vắc xin trong cộng đồng, đến nay VNVC đã có hơn 210 trung tâm tiêm chủng trải dài trên khắp mọi miền tổ quốc, nỗ lực nâng cao tỷ lệ bao phủ tiêm chủng bảo vệ sức khỏe cho trẻ em và người lớn với hơn 11 triệu liều vắc xin các loại, phòng chống hơn 40 bệnh truyền nhiễm nguy hiểm.</p>
                <p><strong> Luôn có đầy đủ vắc xin chính hãng, thế hệ mới, kể cả loại thường xuyên khan hiếm cho trẻ em và người lớn</strong></p>
                <p>Hệ thống trung tâm tiêm tiêm chủng VNVC có hơn 50 loại vắc xin phòng hơn 40 bệnh truyền nhiễm nguy hiểm cho người lớn, kể cả các loại vắc xin thế hệ mới, vắc xin thường xuyên khan hiếm trên thị trường.</p>
                <p>Đặc biệt, VNVC là đơn vị tiêm chủng tại Việt Nam có các loại vắc xin thế hệ mới từ các nhà sản xuất hàng đầu thế giới như: Bexsero (Ý) phòng bệnh viêm màng não, viêm phổi do não mô cầu khuẩn nhóm B, Gardasil 9 (Mỹ) phòng các bệnh ung thư cổ tử cung cho nam và nữ từ 9-45 tuổi, Imojev phòng viêm não Nhật Bản, Prevenar 13 (Bỉ) phòng các bệnh do phế cầu khuẩn, Menactra (Mỹ) phòng bệnh viêm màng não, viêm phổi do não mô cầu khuẩn ACYW, Boostrix (Bỉ) phòng bạch hầu – ho gà – uốn ván…</p>
            </div>
        </div>
    </section>
    
    <footer th:replace="~{footer}"></footer>
</body>
</html>
