<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{header}"></div>

	<div>
		<select id="provinceSelect">
			<option value="">Chọn Tỉnh</option>
			<option th:each="province : ${provinces}" th:value="${province.id}"
				th:text="${province.name}"></option>
		</select> 
		<select id="districtSelect">
			<option value="">Chọn Huyện</option>
		</select> 
		<select id="wardSelect">
			<option value="">Chọn Xã</option>
		</select>
	</div>
	
	<div th:replace="~{footer}"></div>

	<!-- Import file JS -->
	<script src="/js/location.js"></script>

</body>
</html>
