<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Đăng nhập - Quản lý tiêm chủng</title>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<form th:action="@{/login}" method="post">
		<h2>Đăng nhập</h2>
		<input type="text" name="username" placeholder="Tên đăng nhập"
			required /> <input type="password" name="password"
			placeholder="Mật khẩu" required /> <br>
		<button type="submit">Đăng nhập</button>

		<!-- Hiển thị thông báo lỗi -->
		<div th:if="${param.error}" style="color: red; margin-top: 10px;">Tên đăng nhập
			hoặc mật khẩu không đúng.</div>
			
	</form>
</body>
</html>

