<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
    <script src="/js/search.js" type="text/javascript"></script>
    <title>Tra cứu lịch sử tiêm</title>
</head>
<body>
    <div th:replace="~{header}"></div>
    <div class="container">
        <h2>Tra cứu lịch sử tiêm</h2>

        <form th:action="@{/vaccination-history/search}" method="get">
	    <div class="form-group">
	        <label for="name">Họ và tên:</label>
	        <input type="text" id="name" name="name" placeholder="Nhập họ và tên" th:value="${name}">
	
	        <label for="phone">Số điện thoại:</label>
	        <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại" th:value="${phone}">
	
	        <button type="submit">Tìm</button>
	    </div>
	</form>

        <div th:if="${error}" class="alert" style="color: red;">
		    <p th:text="${error}"></p>
		</div>

        <div th:if="${histories}">
            <h3>Kết quả:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Mũi tiêm</th>
                        <th>Ngày tiêm</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
				    <tr th:each="history : ${histories}">
				        <td th:text="${history.citizen.fullName}"></td>
						<td th:text="${history.citizen.phoneNumber}"></td>
						<td th:text="${history.citizen.addressDetail + ', '
									 + history.citizen.ward.name + ', ' 
						             + history.citizen.ward.district.name + ', ' 
						             + history.citizen.ward.district.province.name}"></td>
						<td th:text="${history.vaccine.name}"></td>
						<td th:text="${history.vaccinationDate}"></td>
						<td th:text="${history.status.displayName}"></td>
					</tr>
				</tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{footer}"></div>
</body>
</html>