<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Công dân</title>
<link rel="stylesheet" href="/css/citizen-management.css">
</head>
<body>
	<div th:replace="~{header}"></div>

	<div th:if="${message}" class="alert alert-success">
		<p th:text="${message}"></p>
	</div>

	<a th:href="@{/citizens/create}" class="btn btn-primary">Thêm công dân</a>
	<form th:action="@{/citizens/management}" method="get">
		<label for="group">Chọn nhóm đối tượng:</label> <select id="group"
			name="group">
			<option value="" th:selected="${group == null}"
				th:text="'--- Chọn nhóm ---'"></option>
			<option th:each="groupOption : ${targetGroups}"
				th:value="${groupOption.name()}"
				th:text="${groupOption.displayName}"
				th:selected="${groupOption.name() == group}"></option>
		</select>
		<button type="submit">Tìm kiếm</button>
	</form>

	<h2>Danh sách công dân</h2>
	<table border="1">
		<thead>
			<tr>
				<th>Họ và tên</th>
				<th>Số CCCD</th>
				<th>Ngày sinh</th>
				<th>Số điện thoại</th>
				<th>Địa chỉ</th>
				<th>Nhóm đối tượng</th>
				<th>Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="citizen : ${citizens}">
				<td th:text="${citizen.fullName}"></td>
				<td th:text="${citizen.cccd}"></td>
				<td th:text="${citizen.dateOfBirth}"></td>
				<td th:text="${citizen.phoneNumber}"></td>
				<td th:text="${citizen.getAddress()}"></td>
				<td th:text="${citizen?.targetGroup?.displayName}"></td>
				<td>
					<!-- Nút xem lịch sử tiêm -->
					<button class="view-vaccination">
						<a th:href="@{/citizens/{id}/vaccination-history(id=${citizen.id})}">
							Xem lịch sử tiêm</a>
					</button>
					<a th:href="@{/citizens/update/{id}(id=${citizen.id})}" class="btn btn-warning">Cập nhật</a>
                        <form th:action="@{/citizens/delete/{id}(id=${citizen.id})}" method="post" style="display: inline;">
                            <button type="submit" style="background-color: red" class="btn btn-danger">Xóa</button>
                        </form>
				</td>
			</tr>
		</tbody>
	</table>

	<div th:replace="~{footer}"></div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Thêm xác nhận trước khi gửi yêu cầu xóa
        const deleteButtons = document.querySelectorAll('.btn-danger');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                const confirmDelete = confirm('Bạn có chắc chắn muốn xóa công dân này không?');
                if (!confirmDelete) {
                    event.preventDefault();
                }
            });
        });
    });
</script>
